<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.chenggang.project.reactive.mybatis.support.r2dbc.execution.query.simple.SimpleQueryMapper">

  <select id="countAllDept" resultType="java.lang.Long">
    SELECT COUNT(*) FROM dept
  </select>

  <select id="selectOneDept" resultType="pro.chenggang.project.reactive.mybatis.support.common.entity.Dept">
    <choose>
      <when test="_databaseId == 'mssql' ">
        SELECT * FROM dept ORDER BY dept_no OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
      </when>
      <otherwise>
        SELECT * FROM dept ORDER BY dept_no LIMIT 1
      </otherwise>
    </choose>
  </select>

  <select id="selectByDeptNo" resultType="pro.chenggang.project.reactive.mybatis.support.common.entity.Dept">
    SELECT * FROM dept WHERE dept_no = #{deptNo}
  </select>

  <select id="selectByDeptNoWithResultMap" resultMap="pro.chenggang.project.reactive.mybatis.support.common.mapper.DeptMapper.BaseResultMap">
    SELECT * FROM dept WHERE dept_no = #{deptNo}
  </select>

  <select id="selectByDeptNoWithConstructorResultMap" resultMap="pro.chenggang.project.reactive.mybatis.support.common.mapper.DeptMapper.DeptConstructorResultMap">
    SELECT * FROM dept WHERE dept_no = #{deptNo}
  </select>


  <select id="selectDeptWithEmpList" resultMap="pro.chenggang.project.reactive.mybatis.support.common.mapper.DeptMapper.DeptWithEmpList">
    SELECT dept.*,
           <include refid="pro.chenggang.project.reactive.mybatis.support.common.mapper.EmpMapper.columnNameWithTable" />
    FROM dept
        LEFT JOIN emp
            ON dept.dept_no = emp.dept_no
    WHERE dept.dept_no = #{deptNo}
  </select>

  <select id="selectEmpWithDept" resultMap="pro.chenggang.project.reactive.mybatis.support.common.mapper.EmpMapper.EmpWithDept">
    SELECT emp.*,
           <include refid="pro.chenggang.project.reactive.mybatis.support.common.mapper.DeptMapper.columnNameWithTable" />
    FROM emp
           LEFT JOIN dept
                     ON emp.dept_no = dept.dept_no
    WHERE emp.emp_no = #{empNo}
  </select>

</mapper>